@charset "utf-8";

/**
 * errors
 */
.error {
  display: none;
  color: red;
}

.is-empty .error.is-empty,
.incorrect .error.incorrect {
  display: block;
}

/**
 * clearfix
 */
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  font-size: 0.1em;
  line-height:0;
}

.clearfix{
  display:inline-block;
  min-height:1%;  /* for IE 7*/
}

/* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/**
 * base-poperties
 */
html {
  overflow-y: scroll;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #7c6551;
}

a {
  color: #7c6551;
  text-decoration: none;
}

a:hover {
  color: #126b2e;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, strong, em {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  margin: 0;
}

.container {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

.panel {
  display: inline-block;
  vertical-align: middle;
//TODO: 横並びのものは、floatを使用せずinline-blockで。
}

.price-off {
  color: red;
}

/*
 ** header
 */
.header h1 {
  width: 143px;
  height: 0;
  padding: 40px 0 0;
  overflow: hidden;
  background: url('/images/logo.png') no-repeat 0 0;
  cursor: pointer;
}

/*
 ** navigation
 */
.navigation .links {
  width: 80%;
}

.navigation .properties {
  width: 20%;
}

.navigation a {
  font-size: 95%;
}

.navigation a.selected {
  color: #126b2e;
  text-decoration: underline;
}

.navigation .links a {
  margin: 0 2% 0 0;
}

.navigation .properties a,
.navigation .properties img {
  margin: 0 0 0 10%;
}

.navigation img.cactus {
  display: none;
}

/*
 ** pageTop
 */
.pageTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
	background: #126b2e;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
  filter: alpha(opacity = 80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.pageTop:hover {
  color: #ffffff;
	text-decoration: none;
	background: #999;
}

/*
 ** home
 */

/*
 ** home header
 */
.home .header {
  padding: 10px 0 0;
}

.home .header .container {
  height: 400px;
  position: relative;
}

.home .header .stuff {
  height: 350px;
  bottom: 0;
  position: absolute;
}
.home .header .stuff.tomori {
  width: 114px;
  left: 5%;
  background: url('/images/home/tomori.png') no-repeat 0 0;
}
.home .header .stuff.koike {
  width: 104px;
  left: 21%;
  background: url('/images/home/koike.png') no-repeat 0 0;
}
.home .header .stuff.yoshino {
  width: 104px;
  left: 37%;
  background: url('/images/home/yoshino.png') no-repeat 0 0;
}
.home .header .stuff.enomoto {
  width: 95px;
  left: 53%;
  background: url('/images/home/enomoto.png') no-repeat 0 0;
}
.home .header .stuff.sakuma {
  width: 94px;
  left: 69%;
  background: url('/images/home/sakuma.png') no-repeat 0 0;
}
.home .header .stuff.shimizu {
  width: 97px;
  left: 85%;
  background: url('/images/home/shimizu.png') no-repeat 0 0;
}

.home .header .stuff.tomori:hover {
  width: 114px;
  left: 5%;
  background: url('/images/home/tomori_hover.png') no-repeat 0 0;
}
.home .header .stuff.koike:hover {
  width: 110px;
  left: 21%;
  background: url('/images/home/koike_hover.png') no-repeat 0 0;
}
.home .header .stuff.yoshino:hover {
  width: 117px;
  left: 36%;
  background: url('/images/home/yoshino_hover.png') no-repeat 0 0;
}
.home .header .stuff.enomoto:hover {
  width: 112px;
  left: 52%;
  background: url('/images/home/enomoto_hover.png') no-repeat 0 0;
}
.home .header .stuff.sakuma:hover {
  width: 114px;
  left: 68%;
  background: url('/images/home/sakuma_hover.png') no-repeat 0 0;
}
.home .header .stuff.shimizu:hover {
  width: 120px;
  left: 84%;
  background: url('/images/home/shimizu_hover.png') no-repeat 0 0;
}

.home .header .tweet {
  font-size: 90%;
  position: absolute;
  display: none;
  word-break: break-all;
}
.home .header .tweet.tomori {
  width: 83px;
  height: 65px;
  top: 0;
  left: 12%;
  padding: 27px 21px 27px 27px;
  background: url('/images/home/tweet/tomori.png') no-repeat 0 0;
}
.home .header .tweet.koike {
  width: 80px;
  height: 84px;
  top: 15%;
  left: 27%;
  padding: 27px 21px;
  background: url('/images/home/tweet/koike.png') no-repeat 0 0;
}
.home .header .tweet.yoshino {
  width: 89px;
  height: 58px;
  top: -3%;
  left: 43%;
  padding: 23px 21px;
  background: url('/images/home/tweet/yoshino.png') no-repeat 0 0;
}
.home .header .tweet.enomoto {
  width: 81px;
  height: 70px;
  top: 30%;
  left: 46%;
  padding: 23px 27px 23px 24px;
  background: url('/images/home/tweet/enomoto.png') no-repeat 0 0;
}
.home .header .tweet.sakuma {
  width: 79px;
  height: 73px;
  top: 1%;
  left: 60%;
  padding: 23px 26px 23px 21px;
  background: url('/images/home/tweet/sakuma.png') no-repeat 0 0;
}
.home .header .tweet.shimizu {
  width: 82px;
  height: 77px;
  top: 20%;
  left: 77.5%;
  padding: 34px 21px 31px 21px;
  background: url('/images/home/tweet/shimizu.png') no-repeat 0 0;
}

/*
 ** home navigation
 */
.home .navigation {
  height: 51px;
  background: url('/images/home/bush.png') repeat-x 0 bottom;
}

.home .navigation .container {
  height: 51px;
  background: url('/images/home/bush-front.png') no-repeat 600px bottom;
}

.home .navigation img.cactus {
  display: inline-block;
}

/*
 ** home contents
 */
.home .contents {
	margin: 1.5em 0;
}

.home .contents .container .panel:first-child {
	width: 75%;
  vertical-align: top;
  margin-top:0.5em;
}

.home .contents .news,
.home .contents .cut,
.home .contents .plan,
.home .contents .calendar,
.home .contents .privilege {
	width: 47%;
  padding: 0 3% 0 0;
	min-height: 15em;
  vertical-align: top;
}

.home .contents h3 {
	margin: 0 0 1ex;
  border-bottom: dotted 2px #7c6551;
}

/*
 ** home contents news li 
 */
.home .contents .news {
  height: 330px;
  overflow: scroll;
}

.home .contents .news ul {
  padding: 0;
  margin: 0 0 1.5ex;
  border-bottom: 1px dotted #7c6551;
}

.home .contents .news li {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  list-style-type: none;
}

.home .contents .news li.date {
  font-size: 80%;
}

.home .contents .news li.title {
  font-weight: bold;
  line-height: 1.9;
}

/*
 ** home contents cut table
 */
.home .contents .cut  table {
  width: 100%;
  border-spacing: 0;
  font-size:1em;
  margin:0 0 1em 0;
}

.home .contents .cut  table th {
  color: #fff;
  padding: 0.3em;
  background: #7c6551;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}

.home .contents .cut table tr td {
  border-bottom: 1px solid #5d3b07;
  border-left: 1px solid #5d3b07;
  text-align: center;
}
.home .contents .cut  table tr td:last-child {
  border-right: 1px solid #5d3b07;
}
.home .contents .cut  table tr {
  background: #fff;
}
.home .contents .cut .point {
  font-size:0.8em;
}
.home .contents .cut .point img{
  vertical-align: top;
}
.home .contents .cut .price-off {
  color: red;
}

/*
 ** home contents plan
 */
.home .contents .plan img {
  margin: 10px 30px;
}

/*
 ** home contents calendar
 */
.home .contents .calendar table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 0 10px;
}

.home .contents .calendar caption {
  height: 3ex;
  padding: .5ex 0 0;
  color: #ffffff;
  background-color: #7c6551;
}

.home .contents .calendar th,
.home .contents .calendar td {
  height: 3ex;
  border: solid 1px #7c6551;
}

.home .contents .calendar th {
  font-size: 90%;
}

.home .contents .calendar td {
  width: 14%;
}

.home .contents .calendar tr th.sun,
.home .contents .calendar tr td:first-child {
  color: #ff6347;
}

.home .contents .calendar tr th.sat,
.home .contents .calendar tr td:last-child {
  color: #4682b4;
}

.home .contents .calendar .sat,
.home .contents .calendar .sun {
  width: 15%;
}

.home .contents .calendar p {
  font-size: 80%;
  margin: 0;
}

.home .contents .calendar p span {
  width: 10px;
  height: 10px;
  margin: -2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.home .contents .calendar p.tomori span {
  background-color: #cd5c5c;
}
.home .contents .calendar p.koike span {
  background-color: #5f9ea0;
}
.home .contents .calendar p.yoshino span {
  background-color: #6b8e23;
}
.home .contents .calendar p.enomoto span {
  background-color: #9370db;
}

.home .contents .calendar .stuff1,
.home .contents .calendar .stuff2,
.home .contents .calendar .stuff3,
.home .contents .calendar .stuff4 {
  color: #ffffff!important;
}
.home .contents .calendar .stuff1 {
  background-color: #cd5c5c;
}
.home .contents .calendar .stuff2 {
  background-color: #5f9ea0;
}
.home .contents .calendar .stuff3 {
  background-color: #6b8e23;
}
.home .contents .calendar .stuff4 {
  background-color: #9370db;
}
/*
 ** home contents privilege
 */
 .home .contents .privilege img{
  margin: 10px 10px;
  vertical-align: middle;
}
.home .contents .privilege li{
  list-style-type: square;
}
/*
 ** home fb-like-box
 */
.home .contents .fb-like-box {
	width: 25%;
  height: 100%;
  margin-top:0.5em;
}

.home .contents .fb-like-box span,
.home .contents .fb-like-box iframe {
	width: 277px!important;
}

/*
 ** home snaps
 */
.home .snaps {
  width: 100%;
  height: 380px;
  padding: 53px 0;
  background: url('/images/home/snap_bg.jpg') 0 0;
}

.home .snaps .container {
  width: 1024px;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.home .snaps .themes {
  width: 50%;
}

.home .snaps .themes h3,
.home .snaps .themes h3 strong {
  color: #dcdcdc;
  font-weight: bold;
}

.home .snaps .themes p {
  color: #dcdcdc;
  font-size: 70%;
}

.home .snaps .themes a {
  width: 210px;
  height: 34px;
  display: block;
  padding: 10px 0 0 10px;
  margin: 20px 0 0 152px;
  background: url('/images/home/snap_check_more_220x44.png') 0 0;
}

.home .snaps .themes a:hover {
  text-decoration: none;
  filter: alpha(opacity = 80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.home .snaps .slider {
  display: inline;
}

.home .snaps .slider a {
  width: 220px;
  height: 173px;
  margin: 15px 16px 0;
}

.home .snaps .slider a:first-child {
  margin: 10px 16px 0 3px;
}

.home .snaps .slider.prev a:first-child {
  margin: 10px 16px 0 7px;
}

.home .snaps a.prev,
.home .snaps a.next {
  width: 20px;
  height: 50px;
  display: block;
  margin: 0;
  position: absolute;
  z-index: 100;
}
.home .snaps a.prev {
  top: 72px;
  left: 487px ;
  background: url('/images/home/prev.png') 0 0;
}
.home .snaps a.next {
  bottom: 72px;
  right: 0;
  background: url('/images/home/next.png') 0 0;
}

/*
 ** menus
 */

/*
 ** menus header
 */
.menus .header {
  padding: 10px 0 0;
}
/*
 ** menus navigation
 */
.menus .navigation {
  height: 51px;
  background: url('/images/home/bush.png') repeat-x 0 bottom;
}

.menus .navigation .container {
  height: 51px;
  background: url('/images/home/bush-front.png') no-repeat 600px bottom;
}

.menus .navigation img.cactus {
  display: inline-block;
}
/*
 ** menus contents
 */
.menus .contents {
	margin: 1.5em 0;
}

.menus .contents .container .panel:first-child {
	width: 100%;
  vertical-align: top;
  margin-top:0.5em;
}
/*
 ** menus contents menu
 */
.menus .contents .menu{
	width: 100%;
	min-height: 5em;
  vertical-align: top;
}

.menus .contents .m-detail{
	width: 20%;
  padding: 0 5% 2% 0;
	min-height: 15em;
  vertical-align: top;
}

.menus .contents .m-detail img{
	width: 95%;
  padding: 0 5% 0 0;
	min-height: 15em;
  vertical-align: top;
}


